.academicRecord {
    background-color: black;
    width: 97%;
    margin: 30px auto;
    padding: 30px 0;
}

.academicRecord ul {
    text-align: center;
    list-style: none;
    margin-left: -40px;
}

.academicRecord h3 {
    text-decoration: underline orange;
}