.academicRecord {
    background-color: black;
    width: 96%;
    margin: 30px auto;
    padding: 30px 0;
}

.academicRecord ul {
    text-align: center;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.academicRecord ul li {
    margin-left: -40px;
}

.academicRecord .year {
    font-weight: bold;
    text-decoration: underline orange;
}