.experience {
    background-color: black;
    width: 96%;
    margin: 30px auto;
    padding: 30px 0;
}

.experience p {
    list-style: none;
    text-align: justify;
    width: 80%;
    line-height: 30px;
    text-indent: 50px;
    margin: 0 auto;
}

.experience p a {
    color: orange;
}