body {
    margin: 0;
    padding: 0;
    background-color: #505050;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    color: orange;
}

/* responsividade */
@media(max-width: 400px) {
    body {
        font-size: 14px;
    }
}